/* Style of wofi */

* {
	border-radius: 7px;
	border: none;
}

window {
	font-size: 20px;
	font-family: "FontAwesome", "Terminus (TTF)", monospace;
	background-color: rgba(25, 25, 25, 0.7);
	color: white;
	border: 2px solid #5c5c5c;
}

#entry {
	padding: 0.25em;
}

#entry:selected {
	background-color: #5c5c5c;
	background: linear-gradient(45deg, rgba(212, 212, 212, 0.5) 0%, rgba(34, 34, 34, 0.5) 100%);
	border: none;
}

#text:selected {
	color: #D7D7D7;
}

#input {
	background-color: rgba(0, 0, 0, 0.52);
	color: white;
	padding: 0.25em;
}

image {
	margin-left: .25em;
	margin-right: .25em;
}
