/* Style of wofi */

* {
	border-radius: 5px;
	border: none;
}

window {
	font-size: 16px;
	font-family: monospace;
	background-color: rgba(50, 50, 50, 0.9);
	color: white;
	border-bottom: 3px solid white;
}

#entry {
	padding: 0.25em;
}

#entry:selected {
	background-color: #34895d;
	background: linear-gradient (90deg, #B5FFD9, #34895d)
}

#text:selected {
	color: #D7D7D7;
}

#input {
	background-color: rgba(50, 50, 50, 0.5);
	color: white;
	padding: 0.25em;
}

image {
	margin-left: .25em;
	margin-right: .25em;
}
