* {
    border: none;
    border-radius:0px;
    font-family: "FontAwesome", "Terminus (TTF)";
    font-size: 16px;
    min-height: 0px;
}

@import "themes/mocha.css";

window#waybar {
    background-color: rgba(16, 16, 16, 0.52);
    border-radius: 0px;
    margin-top: 6px;
}

window#waybar.hidden {
    opacity: 0.2;
}

#window {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 4px;
    margin-bottom: 6px;
    padding: 5px;
    transition: all 0.2s ease-in-out;
    font-size: 16px;
    color: white;
    background: transparent;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35), 0 0 1em rgba(0, 0, 0, 0.25), 0 0 0.2em rgba(0, 0, 0, 0.15);
}

/* Global */
#window, #workspaces, #pulseaudio, #clock, #memory, #disk, #cpu, #tray, #taskbar,
#custom-notification, #idle_inhibitor, #custom-gpu, #custom-gpu_temp, #custom-temperaturas,
#workspaces button, #taskbar button:hover {
    border-radius: 7px;
    background: rgba(255, 255, 255, 0.05);
}

/*-----------------------*/
/* Same color background */
#workspaces {
    margin-top: 6px;
    margin-left: 8px;
    margin-bottom: 6px;
    padding-left: 10px;
    padding-right: 1px;
    color: #F1F1F1;
    /*background: rgba(25, 25, 25, 0.7);*/
}

#pulseaudio, #clock, #memory, #disk, #cpu, #tray, #taskbar, #custom-notification, #idle_inhibitor, #custom-gpu, #custom-gpu_temp, #custom-temperaturas {
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 8px;
    margin-right: 0px;
    padding-left: 10px;
    padding-right: 10px;
    transition: none;
    color: #F1F1F1;
    /*background: rgba(25, 25, 25, 0.7);*/
}
/*-----------------------*/

#workspaces button {
    transition: none;
    color: rgb(151, 151, 151);
    background: transparent;
    margin-right: 10px;
}

#workspaces button.persistent {
    transition: none;
    color: rgb(70, 70, 70);
    background: transparent;
    font-size: 4px;
}

#workspaces button.empty {
    color: #FFF;  
    font-size: 2px;
    transition: none;
    background: transparent;
}

#workspaces button.active {
    background: rgba(255, 255, 255, 0.123);
    color: rgba(255, 255, 255, 0.9);
    border: none;
    padding-left: 9px;
    padding-right: 10px;
    transition: all 0.2s ease-in-out;
}
  
#workspaces button:hover {
    background: rgba(255, 255, 255, 0.1);
    color: rgba(240, 255, 255, 0.9);
    border: none;
    transition: all 0.2s ease-in-out;
}
  
#workspaces button:focus {
    outline: 2px solid rgb(125, 125, 125);
    outline-offset: -2px;
}

#clock {
    margin-right: 7px;
}

@keyframes blink {
    to {
        color: #eaeaea;
    }
}

#backlight {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    color: #161320;
    /*background: rgba(28, 32, 44, 0.5);*/
}

#taskbar button:hover {
    background: rgba(255, 255, 255, 0.122);
    color: rgba(240, 240, 240, 0.9);
    border: none;
    transition: all 0.2s ease-in-out;
}

